div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;

}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: rgba(248, 81, 212, 0.226);
}

.center {
    margin: auto;
    width: 80%;
    height: auto;
    padding: 5% 25% 0% 20%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgba(9, 118, 133, 0.562);

}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 1s;

}
li a:hover {
    background-color:rgba(120, 16, 238, 0.562);
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
body{
    background-image: linear-gradient(to bottom right, rgb(223, 18, 212), rgba(9, 118, 133, 0.562));
}
.meio{
    margin: auto auto;
    width: 80%;
    height: auto;
}
